@font-face { font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-Regular.ttf') format('truetype'); 
}

html{
    font-family: "Source Sans Pro", sans-serif;
    background: #ffffff;
} 
p{
    font-size: 1.7rem;
    line-height: 2rem;
}
a{
    text-decoration: none;
    color: #000000;
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s;
}
video {
    height: 90%;
    width: auto;
    text-align: left;
}
a:hover{
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s;
    color: #000000;
} 
#wrapper {
    height: 1080px;
    width: 1920px;
    margin:auto;
    z-index: -1;
}
#app-overview {
    height: 100%;
    width: 45%;
    position: fixed;
    top: 5%;
    left: 5%;
}
#video-overview {
    height: 100%;
    width: 45%;
    position: fixed;
    top: 5%;
    right: 5%;
}

/* akkordeon ************************/
.akkordeon {
    width: 20em;
    padding: 0.2em; 
    background: #fff;
    border: none;
}
.akkordeon label{
    padding: 0.2em 1em;
    margin-bottom: 0.2em;
    position: relative;
    display: block;
    height: 1.7em;
    cursor: pointer;
    background: #fff;
    color: #000;
    font-size: 1.7rem;
    line-height: 2rem;
}
.akkordeon label:hover{
    background: #000;
    color: #fff;
}
.akkordeon input + label {
    transition: all 0.5s ease-in-out;
}
.akkordeon input:checked + label,
.akkordeon input:checked + label:hover{
    background: #fff;
}
.akkordeon input{
      display: none;
}
.akkordeon p {
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
}
.akkordeon input:checked ~ p{
    transition: all 0.5s ease-in-out;
    height: 2em;
}